.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.player-card {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.rarity-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.player-image {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  border-radius: 5px;
}



.add-squad-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 4; /* Increase this */
}


.navbar {
  width: 100%;
  background-color: #282c34;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* updated this line */
  flex-direction: row;
  justify-content: space-between;
}


.nav-item {
  padding: 1em;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 14px 16px;
}

.nav-item a:hover {
  color: #61dafb;
}



.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
  background-image: url('../../images/jumbotron.jpg');
  background-size: cover;
  background-position: center 2%;
  color: white; /* makes text inside jumbotron white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* shadow makes text more legible */
  width:100%; /* makes the jumbotron cover the entire width */
  height: 100vh; /* adjust this to control the height */
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #ddd;
  box-shadow: none;
}

.form-control:focus {
  border-color: #495057;
  outline: 0;
  box-shadow: none;
}

.btn-primary {
  border-radius: 0;
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #0062cc;
  box-shadow: none;
}

.form-label {
  color: white;
  font-weight: 500;
}
